<div style="text-align: center; ">
  <div style="display: inline-block; float: left; margin: 30px;">

    <table *ngIf="alphaCards">
      <tbody>
        <tr *ngFor="let card of alphaCards; let i = index">
          <td><img src="{{ card.imageURL }}" id="{{i}}" (click)="onClickCard($event)" /></td>
          <td>{{ card.name }}</td>
          <td>{{ card.e }}  {{ card.n }}  {{ card.w }}  {{ card.s }}</td>
        </tr>
      </tbody>
    </table>
    <button style="margin: 30px;" mat-raised-button (click)="setAlphaCards()">Set cards</button>
  </div>
  <div style="display: inline-block;">
    <button style="margin: 30px;" mat-raised-button (click)="goFirst()">AI First</button>
    <table style="height: 360px; margin: 30px">
      <tbody>
        <tr *ngFor="let yItem of [].constructor(3); let y = index">
          <td style="width: 93px; height: 120px; border: 3px solid black;" id="{{x + ':' + y}}" (click)="onClickSquare($event)" *ngFor="let xItem of [].constructor(3); let x = index">
            <img src="{{ game.gameBoard[x + ':' + y]?.card.imageURL }}" [ngClass]="{'inverted': !game.gameBoard[x + ':' + y]?.isAlpha }" />
          </td>
        </tr>
      </tbody>
    </table>
    <h2>Score: {{alphaScore}} - {{betaScore}}</h2>
    <h2 *ngIf="isGameOver()">{{whoWon()}}</h2>
    <button style="margin: 30px;" mat-raised-button (click)="onReset()">Reset</button>
  </div>
  <div style="display: inline-block; float: right; margin: 30px;">
      <table *ngIf="betaCards" >
        <tbody>
          <tr *ngFor="let card of betaCards">
            <td>{{ card.name }}</td>
            <td>{{ card.e }}  {{ card.n }}  {{ card.w }}  {{ card.s }}</td>
            <td><img src="{{ card.imageURL }}" class="inverted" /></td>
          </tr>
        </tbody>
      </table>
      <button style="margin: 30px;" mat-raised-button (click)="setBetaCards()">Set cards</button>
    </div>
  </div>
